/* .hidePara{
	display: none;
} */
* {
  padding: 0;
  margin: 0;
}
.box{
  width: 50%;
  margin: 0 auto;
}
.line{
  text-decoration: line-through;
}

/* calculator */
.calculator {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 15px;
  border-radius: 7px;
  background-color: rgb(24, 22, 22);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
/* calculator style end */

/* display */
.display {
  width: 100%;
  height: 100px;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  background-color: #344631;
  color: rgb(255, 255, 255);
  text-align: right;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* display style end */

/* row */
.row {
  display: flex;
  justify-content: space-between;
}
/* row style end */

/* button */
button {
  width: 80px;
  height: 50px;
  border-radius: 20%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: rgb(120, 120, 120);
  color: #fff;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

/* button style end */

/* operator */
.operator {
  background-color: #f39b17;
  color: #000;
}
/* clear button */
.clear{
  background-color: red;
}
/* equal button */
.equal{
  background-color: rgb(29, 160, 20);
}